* {
    margin: 0;
}

body {
    background: linear-gradient(#333, #111);
    /*background-position: top;
    background-image: url('images/tempbackground.jpg');
    background-size: cover;*/
}

p, li, a, span {
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    height: 15vh;
    margin: 0;
    position: relative;
}

.header-container {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    display: inline-block;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2em;
    margin: 10px 20px -5px 20px;
    color: #fae497;

}

#title span {

    font-family: 'Marcellus', serif;
    font-size: .7em;
}


nav ul{
    padding-left: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav li a {
    font-size: 1em;
    color: #AA9743;
    text-decoration: none;
}

nav li a:hover {
    color: #51A3D6;
}

.stats, .shop {
    width: 22%;
    height: 85vh;

}

.stats {
    float: left;
}

.shop {
    float: right;
}

.stats-container, .shop-container, .items-container, #about {
    border-style: solid;
    border-width: 27px;
    -moz-border-image: url(images/border-img.jpg) 27;
    -webkit-border-image: url(images/border-img.jpg) 27;
    -o-border-image: url(images/border-img.jpg) 27;
    border-image: url(images/border-img.jpg) 27 fill;
    box-sizing: border-box;
    color: #AA9743;
    margin: 5px 10px 10px 10px;
    background-color: rgba(15, 35, 34, .9);
}

.stats-header, .shop-header, .items-header {
    margin: 0 0 15px 0;
    background-color: rgba(30, 110, 116, .3);
    padding: 6px;

}

h2 {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: #e4c96a;
}

.stats ul {
    list-style: none;
    padding: 0;
}

.stats li {
    font-weight: 400;
    font-size: .9em;
}

.label {
    display: inline-block;
    width: 55%;
    text-align: right;
    padding-right: 10px;
}

.value, #total-gold {
    color: #fae497;
}

#hp-container {
    width: 160px;
    height: 20px;
    background-color: #101C1B;
    border: 1px solid #1E6E74;
    padding: 1px;
    margin: 10px auto;
    position: relative;
}

#hp-bar {
    height: 100%;
    width: 100%;
    background-color: #00A106;
    transition: width .25s;
}
#hp-count {
    margin: auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-shadow: 0 0 3px #000;
    font-family: 'Palanquin', sans-serif;
    font-size: .9em;
}

.reset {
    display: block;
    width: 50%;
    margin: 15px auto 30px auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: .8em;
    background-color: #1E6E74;
    color: #15D4E1;
    border: none;
    box-shadow: 3px 3px #193235;
}


/* items */

.row {
    text-align: center;
}

.shop-container  {
    text-align: center;
}

.item-slot {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #101C1B;
}



.gold {
    width: 160px;
    margin: auto;
    background-color: #1d3331;
    transition: background-color .5s;
}

.gold-active {
    background-color: #1E6E74;
}

.gold img {
    margin-right: 5px;
    height: .8em;
}

.shop-item {
    display: inline-block;
    margin-top: 15px;
}

.shop-item p {
    font-size: .9em;
    margin-top: -6px;
}

#game-area {
    width: 56%;
    height: 85vh;
    float: left;
    text-align: center;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#game-area .card:nth-child {
}


.card {
    position: relative;
    display: inline-block;
    max-width: 15%;
    margin: .5%;

}

.card img {
    width: 100%;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
}
/*
.card:hover .back {
    display: none;
}
*/

#about {
    width: 56%;
    float: left;
    color: #AA9743;
    padding: 20px;
}

#about p {
    font-size: .9em;
    margin: 1em;
    line-height: 1.5em;
}

#about a {
    color: #fae497;
    text-decoration: none;
}

#about a:hover {
    color: #fff;

}

#victory, #defeat {
    background: radial-gradient(rgb(74, 74, 67),  rgb(41, 41, 27));
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-image: linear-gradient(#F5DF64, #D1A443, #966B4D);
    border-image-slice: 1;
    display: none;
}

#victory {
    box-shadow: 0 0 40px #46D9FA;
}

#defeat {
    box-shadow: 0 0 40px #F20203;
}

#victory h3, #defeat h3 {
    color: #FFF2AB;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px 2px #000;
}

#victory h3::first-letter, #defeat h3::first-letter {
    font-size: 1.25em;
}

#victory span, #defeat span  {
    font-family: 'Marcellus', serif;

    letter-spacing: -6px;
}

#victory h3::after {
    content: 'y';
    font-size: 1.25em;
}

#defeat h3::after {
    content: 't';
    font-size: 1.2em;
}